div {
    
}

* {
    
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}

img {
    width: 300px;
    height: auto;
    border: 3px solid white;
    border-radius: 100px;
}


#pagehero {
    display: flex;
    align-content: center;
    justify-content: center;
}

h1 {
    text-align: center;
}

#main {
    background-color: white;
    padding: 50px;
}

button:hover {
    background-color: magenta;
}

.worksection {
    height: 100px;
    width: 100px;
    border: 5px solid blue;
    text-align: center;
    padding: 5%;
}

.workrelatedcontainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-content: center;
}